
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/

# Variables de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
setenv.bat

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log

# Sistemas operativos
.DS_Store
Thumbs.db
# Python caches
**/__pycache__/
*.py[cod]
*.pyo
